.navbar{
    position: fixed;
    z-index: 10;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111;
    justify-content: space-between;
    display: flex;

}
.navbar h2{
    color: white;
    padding-top: 5px;
    margin-left:80px;
}
.netflixlogo{
    position: fixed;
    left: 30px;
    height: 40px ;
}
.avatar{
    border-radius: 50%;
    position: fixed;
    right: 10px;
    width: 30px;
    border-style: groove;
    /* border-width: thin; */
    border-color: aliceblue;

}